<div class="page-content">
        <div class="page-bar" style="height:30px">
           <marquee onMouseOut=start(); onMouseOver=stop(); scrolldelay=500 scrollamount=5 direction="right" behavior="scroll" id="marqueeTitle"></marquee>
        </div>
        <div class="row">
           <div class="col-md-8">
            <label class="control-label">&nbsp;所属线路：</label>
            <select id="cronID" class="form-control input-inline">
            </select>
			<label class="control-label">&nbsp;所属厂家：</label>
            <select id="cronFactory1" class="form-control input-inline">
            </select>
            <!-- label class="control-label">&nbsp;装置标识：</label>
            <input type="text" id="device_id" class="form-control input-inline"  placeholder="装置标识" value=""/ -->
            <button class='btn green' type="button" style='margin-right:15px;' onclick="queryLog()">查询</button>
            </div>
            <div style="float:right;margin-right:120px;">
			<button class='btn green' onclick="sync()">同步</button>
            </div>
        </div>
        <div class="portlet light">
            <table class="table table-striped table-bordered table-hover display nowrap table-width-hundred" id="mainTable">
            </table>
        </div>
<!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="deviceModal_add" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <form id="deviceForm" data-type="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">装置信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-md-12" style="border-right: 1px solid #e5e5e5;">
                            <div class="row margiBottom">
                                <input type="hidden" id="recordId" name="recordId"/>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="device_m"><span class="required">*</span>装置id：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="device_m" name="device" class="form-control " placeholder="请输入装置id" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="IP_m"><span class="required">*</span>装置IP：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="IP_m" name="IP" class="form-control " placeholder="请输入装置IP" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="name_m"><span class="required">*</span>装置标识：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="name_m" name="name" class="form-control " placeholder="请输入装置标识" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="factory_m"><span class="required">*</span>所属厂家：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="cronFactory" class="form-control input-inline">
                                        </select>
                                    </div>
                                </div>
								<div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="cronLine"><span class="required">*</span>所属线路：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="cronLine" class="form-control input-inline">
                                        </select>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="InstallIndex_m"><span class="required">*</span>安装序号：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="InstallIndex_m" name="InstallIndex" class="form-control " placeholder="请输入安装序号" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="cronTower"><span class="required">*</span>安装杆塔：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="cronTower" class="form-control input-inline">
                                        </select>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="phase_m"><span class="required">*</span>相别：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="cronPhase" class="form-control input-inline">
											 <option value="0">A</option>
											 <option value="1">B</option>
				                             <option value="2">C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="IedType_m"><span class="required">*</span>装置型号：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="IedType_m" name="IedType" class="form-control " placeholder="请输入装置型号" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="version_m"><span class="required">*</span>装置版本号：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="version_m" name="version" class="form-control " placeholder="请输入装置版本号" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="ManuDate_m"><span class="required">*</span>出厂日期：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="ManuDate_m" name="ManuDate" class="form-control " placeholder="请输入出厂日期" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="InstallTime_m"><span class="required">*</span>安装时间：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="InstallTime_m" name="InstallTime" class="form-control " placeholder="请输入安装时间" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="longitude_m"><span class="required">*</span>经度：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="longitude_m" name="longitude" class="form-control " placeholder="请输入经度" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="latitude_m"><span class="required">*</span>纬度：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="latitude_m" name="latitude" class="form-control " placeholder="请输入纬度" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="altitude_m"><span class="required">*</span>海拔：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="altitude_m" name="altitude" class="form-control " placeholder="请输入海拔" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="ProtocalType_m"><span class="required">*</span>协议类型：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="cronProtocalType" class="form-control input-inline">
                                            <option value="1">2019版</option>
				                            <option value="0">2018版</option>
										</select>
                                    </div>
                                </div>
<!--                                 <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="BigWaveRange_m"><span class="required">*</span>大量程系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="BigWaveRange_m" name="BigWaveRange" class="form-control " placeholder="请输入行波大量程系数" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="SmallWaveRange_m"><span class="required">*</span>小量程系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="SmallWaveRange_m" name="SmallWaveRange" class="form-control " placeholder="请输入行波小量程系数" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="zero_drift_comps_small_m"><span class="required">*</span>低量程零漂补偿系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="zero_drift_comps_small_m" name="zero_drift_comps_small" class="form-control " placeholder="请输入量程零漂补偿系数" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="ProtocalType_m"><span class="required">*</span>协议类型：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="cronProtocalType" class="form-control input-inline">
                                            <option value="0">2019版</option>
				                            <option value="1">2018版</option>
										</select>
                                    </div>
                                </div>	 -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="saveUserEdit" disabled>保存</button>
                </div>
                </form>
            </div>
        </div>
    </div>

<!-- 更多信息Modal -->
	<div class="modal fade bs-example-modal-lg" id="MoreInfoModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <form id="MoreInfoForm" data-type="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">更多装置信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-md-12" style="border-right: 1px solid #e5e5e5;">
                            <div class="row margiBottom">
                                <input type="hidden" id="recordId" name="recordId"/>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="BigWaveRange_m"><span class="required">*</span>大量程系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="BigWaveRange_m" name="BigWaveRange" class="form-control " placeholder="请输入行波大量程系数" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="SmallWaveRange_m"><span class="required">*</span>小量程系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="SmallWaveRange_m" name="SmallWaveRange" class="form-control " placeholder="请输入行波小量程系数" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="zero_drift_comps_small_m"><span class="required">*</span>低量程零漂补偿系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="zero_drift_comps_small_m" name="zero_drift_comps_small" class="form-control " placeholder="请输入量程零漂补偿系数" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="FrequencyFactor_m"><span class="required">*</span>工频系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="FrequencyFactor_m" name="FrequencyFactor" class="form-control " placeholder="请输入工频系数" required/>
                                    </div>
                                </div>
								<div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="freSampleTime_m"><span class="required">*</span>工频采样时间：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="freSampleTime_m" name="freSampleTime" class="form-control " placeholder="请输入工频采样时间" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="freSampleFre_m"><span class="required">*</span>工频采样频率：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="freSampleFre_m" name="freSampleFre" class="form-control " placeholder="请输入工频采样频率" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="waveSampleTime_m"><span class="required">*</span>行波采样时间：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="waveSampleTime_m" name="waveSampleTime" class="form-control " placeholder="请输入行波采样时间" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="waveSampleFre_m"><span class="required">*</span>行波采样频率：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="waveSampleFre_m" name="waveSampleFre" class="form-control " placeholder="请输入行波采样频率" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="fpgaRatio_m"><span class="required">*</span>fpga系数：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="fpgaRatio_m" name="fpgaRatio" class="form-control " placeholder="请输入fpga系数" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="device_time_m"><span class="required">*</span>装置时间：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="device_time_m" name="device_time" class="form-control " placeholder="请输入装置时间" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="antenna_sta_m"><span class="required">*</span>天线状态：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="antenna_sta_m" name="antenna_sta" class="form-control " placeholder="请输入天线状态" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="gps_valid_m"><span class="required">*</span>装置对时有效性：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="gps_valid_m" name="gps_valid" class="form-control " placeholder="请输入装置对时有效性" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="last_sync_time_m"><span class="required">*</span>上次对时时间：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="last_sync_time_m" name="last_sync_time" class="form-control " placeholder="请输入上次对时时间" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="work_voltage_m"><span class="required">*</span>工作电压：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="work_voltage_m" name="work_voltage" class="form-control " placeholder="请输入工作电压" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="work_temperature_m"><span class="required">*</span>工作温度：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="work_temperature_m" name="work_temperature" class="form-control " placeholder="请输入工作温度" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="pf_current_valid_m"><span class="required">*</span>工频电流有效值：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="pf_current_valid_m" name="pf_current_valid" class="form-control " placeholder="请输入工频电流有效值" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="battery_status_m"><span class="required">*</span>电池供电状态：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="battery_status_m" name="battery_status" class="form-control " placeholder="请输入电池供电状态" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="battery_vol_m"><span class="required">*</span>电池电压：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="battery_vol_m" name="battery_vol" class="form-control " placeholder="请输入电池电压" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="battery_current_m"><span class="required">*</span>电池电流：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="battery_current_m" name="battery_current" class="form-control " placeholder="请输入电池电流" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="battery_temperature_m"><span class="required">*</span>电池温度：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="battery_temperature_m" name="battery_temperature" class="form-control " placeholder="请输入电池温度" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="battery_soc_m"><span class="required">*</span>电池容量：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="battery_soc_m" name="battery_soc" class="form-control " placeholder="请输入电池容量" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="battery_bj_m"><span class="required">*</span>电池告警：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="battery_bj_m" name="battery_bj" class="form-control " placeholder="请输入电池告警" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="ad_ctflyback_v_m"><span class="required">*</span>取能线圈电压：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="ad_ctflyback_v_m" name="ad_ctflyback_v" class="form-control " placeholder="请输入取能线圈电压" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="ad_dcdcbus_v_m"><span class="required">*</span>板间直流输入电压：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="ad_dcdcbus_v_m" name="ad_dcdcbus_v" class="form-control " placeholder="请输入板间直流输入电压" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="AD_BAT1_V_m"><span class="required">*</span>电池1电压：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AD_BAT1_V_m" name="AD_BAT1_V" class="form-control " placeholder="请输入电池1电压" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="AD_BAT1_I_m"><span class="required">*</span>电池1电流：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AD_BAT1_I_m" name="AD_BAT1_I" class="form-control " placeholder="请输入电池1电流" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="AD_BAT2_V_m"><span class="required">*</span>电池2电压：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AD_BAT2_V_m" name="AD_BAT2_V" class="form-control " placeholder="请输入电池2电压" required/>
                                    </div>
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="AD_BAT2_I_m"><span class="required">*</span>电池2电流：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AD_BAT2_I_m" name="AD_BAT2_I" class="form-control " placeholder="请输入电池2电流" required/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2"style="text-align:right;">
                                        <label class="control-label" for="AD_USB_V_m"><span class="required">*</span>USB电压：</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AD_USB_V_m" name="AD_USB_V" class="form-control " placeholder="请输入USB电压" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="waveModal" tabindex="-1" role="dialog"aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editWavePwd" data-type="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">修改设备密码</h4>
                </div>
                <div class="modal-body">

                    <div class="row ">
                        <div class="col-md-12">
                            <div class="row margiBottom">
                                <div class="col-sm-12">
                                    <div class="col-sm-4" style="text-align:right;">
                                        <label class="control-label"><span class="required">*</span>当前密码：</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="password" id="password_wave" name="" class="form-control " placeholder="请输入当前密码" required />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4" style="text-align:right;">
                                        <label class="control-label"><span class="required">*</span>新密码：</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="password" id="password_wave_new" name="" class="form-control " placeholder="请输入新密码" required />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4" style="text-align:right;">
                                        <label class="control-label"><span class="required">*</span>确认密码：</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="password" id="password_wave_new_c" name="" class="form-control " placeholder="请确认新密码" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="" disabled>保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
<script src="static/js/info/DeviceManage.js" type="text/javascript"></script>

